<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>StoComm</title>
    <link rel="shortcut icon" type="image/png" href="/img/logo.png"/>
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3'
      crossorigin='anonymous'
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    
    <link rel='stylesheet' href='/stylesheet/normalize.css' />
    <link rel='stylesheet' href='/stylesheet/navbar.css' />
    <link rel='stylesheet' href='/stylesheet/{{style}}' />
  </head>

  <body>
    <div class="blocking-view hidden"></div>

    <div class="loading-img-area">
      <img src="/img/loading.gif" class="loading-img">
    </div>

    <div class='navbar shadow-sm'>
      <a href='/hot-rooms'>
        {{! <h3>StoComm</h3> }}
        <img src='/img/logo.png' alt='' id='logo' />
      </a>
      <div class='functional-part'>

        <div class="functional-btns">
          <a class="quick-start btn btn-outline-secondary rounded border-0" href="/explore">
            瀏覽熱門觀點
          </a>
          <a class="btn btn-outline-secondary quick-start  rounded border-0 quick-war-room-btn">
            快速開啟研究室
          </a>
        </div>
        
        <div class='dropdown'>
          <a
            id='dropdownMenuLink'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
            <img src='/img/member.png' alt='' id='member-link' />
          </a>
          <ul class='dropdown-menu' aria-labelledby='dropdownMenuButton1'>
            <li><a class='dropdown-item' href='/member'>個人資料</a></li>
            
            <li><a
                class='dropdown-item'
                href='#'
                id='navbar-logou'
              >登出</a></li>
          </ul>
        </div>
      </div>
    </div>

    {{! start war room modal }}
  <div
    class='modal fade'
    id='war-room-check'
    tabindex='-1'
    aria-labelledby='exampleModalLabel'
    aria-hidden='true'
  >
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title' id='war-room-check-title'>開啟我的研究室</h5>
          <button
            type='button'
            class='btn-close'
            data-bs-dismiss='modal'
            aria-label='Close'
          ></button>
        </div>
        <div class='modal-body'>
          <h2 class="welcome-msg js-signup-msg"></h3>
            <form class="war-room-check-data">
              <label for="staticEmail" class="col-sm-12 col-form-label mt-3 input-label"
                >研究室名稱</label
              >
              <input
                type="text"
                class="form-control"
                id="war-room-title"
                value=""
                name="war_room_title"
                autocomplete="off"
              />

              <label for="inputPassword" class="col-sm-12 col-form-label mt-3 input-label"
              >股票名稱或代碼</label>
              <input
                type="text"
                class="form-control"
                id="stock-name-code"
                placeholder="請輸入股票名稱或代碼"
                name="stock_name_code"
                autocomplete="off"
                />

              <input type="hidden" id="user_id" name="user_id" autocomplete="name">

              <div class="d-flex">
                <button type="submit" class="btn btn-outline-primary ms-auto mb-2 mt-4 rounded-pill" id="js-create-war-room-btn">送出</button>
              </div>
              
            </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Log in Modal -->
    <div
      class="modal fade"
      id="nav-login-modal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="login-title">登入</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              data-bs-target="#nav-login-modal"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <h3 class="welcome-msg js-login-msg">StoComm 歡迎你!</h3>

              <div class="form-group mt-3">
                <label for="staticEmail" class="col-form-label input-label"
                  >Email</label
                >
                <div class="col-sm-12">
                  <input
                    type="text"
                    class="form-control"
                    name="email"
                    id="nav-user-email"
                    placeholder="請輸入email..."
                    value=""
                    autocomplete="email"
                  />
                </div>
              </div>
              
              <div class="form-group mt-3">
                <label for="inputPassword" class="col-sm-2 col-form-label input-label"
                  >密碼</label
                >
                <div class="col-sm-12">
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="nav-user-password"
                    placeholder="請輸入密碼..."
                    autocomplete="new-password"
                  />
                </div>
              </div>
              <div class="d-flex align-items-center mt-4">
                <button type="submit" class="btn btn-outline-primary ms-auto rounded-pill" id="js-nav-login-btn">送出</button>
                <button type="button" class="btn btn-outline-secondary ms-3 nav-signup-btn rounded-pill">還沒註冊</button>
              </div>
              <hr>
              <div class="d-flex align-items-center mt-4">
                <button class="btn btn-outline-primary ms-auto rounded-pill" id="fb-signin-btn">Facebook 登入</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

  </div>
  

    <!-- Sign up Modal -->
    <div
      class="modal fade"
      id="nav-signup-modal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="login-title">註冊</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body d-flex flex-column">
            <h3 class="welcome-msg js-signup-msg">StoComm 歡迎你!</h3>
            <form class="signup-data">
              <label for="signup-user-mail" class="col-sm-2 col-form-label mt-3 input-label"
                >Email</label
              >
              <input
                type="email"
                class="form-control"
                id="signup-user-mail"
                value=""
                placeholder="請輸入email..."
                name="email"
                autocomplete="email"
              />

              <label for="signup-user-name" class="col-sm-2 col-form-label mt-3 input-label"
              >綽號</label>
              <input
                type="text"
                class="form-control"
                id="signup-user-name"
                value=""
                placeholder="請輸入綽號..."
                name="name"
                autocomplete="name"
              />

              <label for="signup-user-password" class="col-sm-2 col-form-label mt-3 input-label"
              >密碼</label>
              <input
                type="password"
                class="form-control"
                id="signup-user-password"
                placeholder="請輸入密碼..."
                name="password"
                autocomplete="new-password"
                />
              
              <div class="d-flex">
                <button type="submit" class="btn btn-outline-primary mb-2 mt-4 ms-auto rounded-pill" id="js-signup-btn">送出</button>
              </div>
              
            </form>
            
          </div>
        </div>
      </div>
    </div>

    <!-- JS -->
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js'
      integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p'
      crossorigin='anonymous'
    ></script>
    
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src='/javascript/template/universal.js'></script>
    <script src="/javascript/template/main.js"></script>
    {{{body}}}
    
  </body>

</html>