.home-wrapper {
  display: flex;
  height: calc(90vh - 80px);
}

.welcome-page {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-image: url('/img/candlechart.png');
  background-size: 600px 380px;
  background-repeat: no-repeat;
  background-position: right center; */
  width: 50%;
  background-color: rgb(231, 251, 240);
}

.slogan {
  display: flex;
  justify-content: space-between;
  /* padding: 100px 0 0 100px; */

  width: 90%;
  margin: 0 auto 0 auto;
}

.slogon-title {
  margin-right: auto;
}

.cover-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 251, 240);
}

#ad-img {
  width: 100%;

  max-width: 500px;
  max-height: 500px;
}

.tilte-1 {
  /* color: rgb(243, 83, 80); */
  margin: 0 0 20px 0;
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
}

.title-2 {
  font-size: 16px;
  line-height: 1.5;
}

h2.welcome-msg {
  margin: 50px 0;
}
/* 
h3 {
  margin: 100px 0 0 0;
  letter-spacing: 10px;
} */

.login-form:focus {
  background-color: white;
  outline: none;
}

.hint-login{
  font-size: 8px;
}

.login-area{
  width: 90%;
  margin: 0 auto;
  /* margin-top: 100px; */
}

.login-btn-area {
  display: flex;
  justify-content: space-around;

  border-bottom: solid 1px black;
}

#enter-email {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

#enter-btn{
  border: none;
  background-color: rgb(231, 251, 240);
}

/* description */
.meeting-area{
  background-color: #F6AAA9;
  width: 30%;
}

.meeting-img{
  width: 100%;
}

.room-img{
  position: absolute;
  top: 0;
  width: 100%;

  z-index: 1;
}

.text-area{
  z-index: 2;
}

.floating-title-area{
  position: absolute;
  top: -100px
}

.floating-title-area .card{
  width: 30%;
}