
.nav-area {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin: 50px 0 0 0;
}

.nav-area * {
  margin: 0 10px;
}

.nav-link {
  letter-spacing: 5px;
  font-weight: 800;
}

.nav-link.active{
  font-size: 18px;
  color: rgb(20, 201, 186) !important;
}

#hot-room-title {
  font-weight: 800;
  letter-spacing: 10px;
}

#explore-btn {
  font-size: 30px;
  padding: 10px 20px;
}

/* war room */
.container {
  width: 100%;
  margin: 0 auto;
}

#member {
  width: 50px;
  height: 50px;
}

.war-rooms {
  margin: 50px auto;
  width: 100%;
  max-width: 900px;
}

.war-room {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: 200px;
  margin-top: 20px;
  padding: 25px 25px;
  cursor: pointer;

  display: flex;
}

.war-room-preview {
  margin-left: auto;
}

/* anychart watermark */
a[title='AnyChart - JavaScript Charts designed to be embedded and integrated, v8.10.0.1933'] {
  display: none;
}

.stock-preview {
  position: relative;
  width: 200px;
  height: 120px;
  margin-top: 15px;
}

.war-room h3 {
  margin: 0 10px;
  font-weight: 800;
}

#war_room_title {
  margin: 50px 0 0 10px;
}


.live-icon {
  width: 50px;
  height: 50px;
  animation: blink 2s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.clients-icon{
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.online-people-area{
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 30px;
}

.online-people{
  font-size: 10px;
  letter-spacing: 2px;
}

.closing-warning{
  border: 1px solid tomato;
  color: tomato;
  font-size: 10px;
  padding: 0 10px;
  margin: 10px 0;

  display: flex;
  justify-content: center;
}

.stock-code-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 10px;
  background-color: #6e6e6e;
}

.stock-code-title p {
  margin: 0;
  color: white;
}

.war-room-code {
  font-size: 5px;
  color: #c2c2c2;
}

/* ideas */
.ideas-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.ideas-card {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: 60vh;
  max-height: 500px;
  margin: 20px auto;
  padding: 25px 25px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
}

.ideas-card-img {
  display: flex;
  justify-content: center;

  width: 100%;
  margin: 0 auto;
}

.img-fluid{
  width: 100%;
}

.ideas-card h3,
.ideas-card p {
  margin: 0 10px;
}

.ideas-card h3{
  width: 70%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.user-name {
  display: flex;
  align-items: center;

  margin-top: auto;
}

.stock-situation {
  background-color: white;
  border-radius: 20px;
  width: 80%;
  height: 100px;
  margin: 20px auto;
  padding: 25px 25px;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.stock-situation h3 {
  margin: 0 10px;
}

.date{
  font-size: 16px;
  font-weight: 600;
}

.social-btn.liked{
  width: 15px;
  height: 15px;
}

.like-area{
  height: 30px;
  padding: 0 10px;
}

.liked-num {
  font-size: 8px;
  font-weight: 600;
  margin: 0 5px;

  color: #2E61B1;
}

.user-picture{
  width: 30px;
  height: 30px;
}

.bear-icon, .bull-icon{
  width: 50px;
  height: 30px;
  padding: 0 10px;
}

