

body{
  background-color: rgb(255, 249, 249);
}


.nav-area {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin: 50px 0 0 0;
}

.nav-area * {
  margin: 0 10px;
}

#hot-room-title{
  font-weight: 800;
  letter-spacing: 10px;
}

#explore-btn{
  font-size: 30px;
  padding: 10px 20px;
}

/* war room */
.container {
  width: 80%;
  margin: 0 auto;
}

#member {
  width: 50px;
  height: 50px;
}

.war-rooms {
  margin: 50px auto;
  width: 80%;
}

.war-room {
  background-color: white;
  border-radius: 20px;
  height: 200px;
  margin-top: 20px;
  padding: 25px 25px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
}

.war-room h3 {
  margin: 0 10px;
  font-weight: 800;
}

#war_room_title {
  margin: 50px 0 0 10px;
}

#war-room-time{
  text-align: right;
}