/* main area */
.container {
  width: 90%;
  margin: 0 auto;
}

#profile-img {
  margin: 50px 0;

  display: flex;
  /* align-items: center; */
}

.self-info {
  width: 60%;
}

#member-name {
  max-width: 50%;
  margin: 0 20px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.prfile-icon-area{
  width: 150px;
  height: 150px;
  display: flex;
}

#profile-icon {
  height: 150px;
}

.following-info {
  margin: 20px 0 0 0;

  display: flex;
}

.following-info p {
  margin: 0 20px;
}

.logout-btn {
  margin-left: auto;
  margin-top: auto;
}

/* function area */
.function-select {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

/* .ideas-tabs {
  display: flex;
}

.ideas-tabs div {
  border-bottom: solid 2px rgb(243, 83, 80);
  margin: 0 10px;
} */

a.active.member-tab{
  color: rgb(20, 201, 186) !important;
}

#start-war-btn {
  display: flex;
  align-items: center;

  padding: 5px 10px;
  border: 1px solid rgb(20, 201, 186);
  color: rgb(20, 201, 186);
  font-size: 20px;
  letter-spacing: 5px;
}

#start-war-btn:hover {
  background-color: rgb(20, 201, 186);
  color: white;
}

#start-war-btn-arrow {
  background-image: url('/img/right-arrow.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
}

#start-war-btn-arrow:hover {
  filter: invert(100%) grayscale(100%) brightness(100%);
}

/* war room check modal */
div#war-room-check label {
  display: flex;
}

/* ideas area */
.ideas-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.ideas-card {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  max-width: 42vw;
  height: 60vh;
  max-height: 500px;
  margin: 20px auto;
  padding: 25px 25px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
}

#ideas-card-img {
  display: flex;
  justify-content: center;

  height: 50%;
  margin: 0 auto;
}

.ideas-card h3,
.ideas-card p {
  margin: 0 10px;
}

.ideas-card h3{
  width: 70%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

/* user */
.user-name {
  align-items: center;

  margin-top: auto;
}

.user-picture{
  width: 30px;
  height: 30px;
}

.date {
  font-size: 16px;
  font-weight: 600;
}

.stock-situation {
  background-color: white;
  border-radius: 20px;
  width: 80%;
  height: 100px;
  margin: 20px auto;
  padding: 25px 25px;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.stock-situation h3 {
  margin: 0 10px;
}

.social-btn.liked{
  width: 15px;
  height: 15px;
}

.like-area{
  height: 30px;
  padding: 0 10px;
}

.liked-num {
  font-size: 12px;
  font-weight: 600;
  margin: 0 5px;

  color: #2E61B1;
}

.bear-icon, .bull-icon{
  width: 50px;
  height: 30px;
  padding: 0 10px;
}