/* navbar */
.navbar {
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h3 {
  font-size: 35px;
  letter-spacing: 4px;
  margin: 0 20px;
  color: rgb(243, 83, 80);
}

.functional-part {
  display: flex;
}

#member-link {
  width: 30px;
  height: 30px;
  margin: 0 30px 0 0;

  border-radius: 50%;
}

#war-room-link {
  width: 30px;
  height: 30px;
  margin: 0 30px 0 0;
}

#logo {
  height: 40px;
  margin: 0 0 0 30px;
}

.dropdown-menu[data-bs-popper] {
  left: auto;
  margin-top: 10px;
  right: 0;
}

.home-login-btns{
  display: none;
}