/* navbar */
.navbar {
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h3 {
  font-size: 35px;
  letter-spacing: 4px;
  margin: 0 20px;
  color: rgb(243, 83, 80);
}

#member-link{
  width: 30px;
  height: 30px;
  margin: 0 60px 0 0;

  border-radius: 50%;
}