.post-area{
  width: 90%;
  margin: 0 auto;
}

#close-icon{
  width: 30px;
  height: 30px;
  cursor: pointer;
}

textarea {
  resize: none;
  height: 150px;
}

.hidden {
  display: none;
}

.img-area{
  width: 50%;
  /* margin: 0 0 0 auto; */
}

#analysis-img{
  width: 100%
}

.nav-link {
  font-size: 12px;
  color: rgb(143, 143, 143);
}

.nav-link.active {
  color: rgb(20, 201, 186) !important;
  font-weight: 600;
}

/* future btn */
.bull-btn{
  border-color: #f35350;
  color: #f35350;
}

#bullish.checked + label{
  background-color: #f35350;
  color: white;
}

.bear-btn{
  border-color: rgb(20, 201, 186);
  color: rgb(20, 201, 186);
}

#bearish.checked + label{
  background-color: rgb(20, 201, 186);
  color: white;
}

.bull-btn:hover{
  background-color: #f35350;
  color: white;
}

.bear-btn:hover{
  background-color: rgb(20, 201, 186);
  color: white;
}