.post-area{
  width: 90%;
  margin: 0 auto;
}

#close-icon{
  width: 30px;
  height: 30px;
  cursor: pointer;
}

textarea {
  resize: none;
  height: 150px;
}

.hidden {
  display: none;
}

#analysis-img{
  width: 70%;
}