/* navbar */
.navbar {
  position: fixed;
  top: 0;
  background-color: rgb(121, 209, 201);
  height: 80px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h3 {
  font-size: 35px;
  letter-spacing: 4px;
  margin: 0 20px;
  color: rgb(243, 83, 80);
}

#member-link {
  width: 50px;
  height: 50px;
  margin: 0 60px 0 0;
  background-color: white;
  border-radius: 50%;
}

.war-room-container {
  width: 100%;
}

/* chat room */
.char-room {
  position: absolute;
  top: 100px;
  right: 100px;
  display: flex;
  flex-direction: column;

  width: 500px;
  height: 600px;
  box-shadow: 1px 3px 20px 1px rgb(216, 216, 216);
  border-radius: 20px;
}

.chat-history {
  width: 500px;
  height: 400px;
}

.msg-input-area {
  margin: auto 10px 5px auto;
  width: 300px;
}

.messages-group {
  display: flex;
  flex-direction: column;
}

.messages-group li {
  width: 70%;
  box-shadow: 1px 3px 20px 1px rgb(216, 216, 216);
  margin-top: 15px;
}

.msg-input-block {
  margin: 0 20px;
}

.my-msg {
  margin-left: auto;
  margin-right: 10px;
  background-color: rgb(255, 244, 244);
}

/* video grid */
#video-grid {
  display: flex;
  align-items: center;

  box-shadow: 1px 3px 20px 1px rgb(216, 216, 216);
  border-radius: 20px;
  height: 100px;
}

video {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 10px;
}

/* stock-info */
#stock-real-price-wrapper {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 100px;
  left: 100px;
}

/* news card */
.news-card{
  width: 500px;
  height: 500px;
}