/* default img for canvas */
#default-img {
  width: 300px;
  height: 300px;
  display: none;
}

.war-room-container {
  width: 100%;
}

/* Invalid room */
.invalid-room{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(216, 216, 216, 0.8);
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
}

.invalid-room *{
  font-weight: 800;
  color: rgb(48, 48, 48);
  letter-spacing: 5px;
}

/* chat room */
.chat-room {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: calc(50vw - 250px);
  display: none;
  flex-direction: column;

  width: 500px;
  height: 500px;
  box-shadow: 1px 3px 20px 1px rgb(216, 216, 216);
  border-radius: 20px;
  background-color: white;
}

.min-chat-room {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 100px;
  right: 100px;

  width: 320px;
  height: 40px;
  box-shadow: 1px 3px 20px 1px rgb(216, 216, 216);
  border-radius: 20px;
  padding: 0 0 0 20px;
  background-color: white;
}

.chat-room-navbar {
  display: flex;
  align-items: center;

  padding: 10px 0 0 0;
}

.shrink-icon {
  width: 30px;
  height: 30px;
  margin: 10px 20px 0 auto;
  padding: 5px;
  border-radius: 50%;
}

.stock-real-price-navbar .shrink-icon{
  margin: 10px 0 0 auto;
  position: absolute;
  right: -30px;
  z-index: 4;
}

.shrink-icon:hover,
.enlarge-icon:hover {
  cursor: pointer;
  background-color: rgb(211, 211, 211);
}

.chat-history {
  width: 100%;
  height: 400px;
}

.msg-input-area {
  margin: 10px 10px 5px auto;
  width: 300px;
}

.messages-group {
  display: flex;
  flex-direction: column;
}

.messages-group li {
  margin: 15px auto 0 10px;
}

.msg-input-block {
  margin: 0 20px;
}

.messages-group li.my-msg {
  margin-left: auto;
  margin-right: 10px;
  background-color: rgb(255, 244, 244);
}

.messages-group li.enter-msg {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(240, 240, 240);
}

/* video grid */
.voice-modal-body {
  height: 70vh;
}

.host-area {
  display: flex;
  align-items: center;
  height: 80px;
}

#video-grid {
  display: flex;
  flex-wrap: wrap;
  height: calc(65% - 100px);
}

#video-grid::-webkit-scrollbar {
  display: none;
}

video {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 10px;

  display: none;
}

div[peer_user_id] {
  position: relative;
  width: 80px;
  height: 60px;
}

.audio-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* object-fit: cover; */
  margin: 0 10px;
  /* background-image: url('/img/profile-icon.png'); */
  /* background-color: violet; */
}

.mute-icon,
.mic-icon {
  position: absolute;
  bottom: 0;
  right: 16px;
  width: 20px;
  height: 20px;

  background-color: rgb(248, 248, 248);
  border-radius: 50%;
}

/* carousel */
.carousel-indicators {
  bottom: -50px;
}

.carousel-control-next {
  right: -50px;
}

.carousel-control-prev {
  left: -50px;
}

/* stock-info */
#stock-real-price-wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 540px;
  padding: 0 50px;

  position: absolute;
  top: 10px;
  left: calc(50vw - 250px);
  z-index: 2;
  background-color: white;
  border-radius: 20px;
}

.min-stock-real-price {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 100px;
  left: 100px;

  width: 320px;
  height: 40px;
  box-shadow: 1px 3px 20px 1px rgb(216, 216, 216);
  border-radius: 20px;
  padding: 0 0 0 20px;
  background-color: white;
}

.stock-real-price-navbar {
  display: flex;
  padding: 10px 0;

  position: relative;
}

.add-canvas-note{
  color: rgb(105, 105, 105);
  font-size: 10px;
  letter-spacing: 1px;
}

.add-canvas-spacer{
  height: 38px;
}

.analysis-card {
  width: 400px;
  height: 400px;
}

.carousel-item{
  position: relative;
}

.loading {
  position: absolute;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  
  z-index: 3;
}

/* anychart watermark */
a[title='AnyChart - JavaScript Charts designed to be embedded and integrated, v8.10.0.1933'] {
  display: none;
}

/* canvas */
#canvas {
  height: calc(100vh - 130px);
  z-index: 1;
}

.tool-area {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(53, 53, 53);
  margin-top: auto;
  height: 70px;
}

.functional-area {
  margin-right: 40px;
}

.chat-notification {
  top: 30%;
  left: 70%;
}

.draw-tool-icon {
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  border-radius: 3px;
}

.allow-draw {
  height: 45px;
  padding: 10px;
  border-radius: 8px;
}

.allow-draw:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

#leave-icon {
  margin-left: 40px;
}

.draw-tool-icon:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.tool-active {
  background-color: #14c9ba;
}

.tool-active:hover {
  background-color: #0e726a;
}

#tool {
  font-size: 30px;
  width: 200px;
}
