<h1 id='stream-notification'>熱門大大再開直播!</h1>
<div class='kol-area shadow-sm'>
  <div class='profile-bar'>
    <a href='/personal-articles.html'>
      <div id='profile-img'>
        <img src='/img/profile-icon.png' alt='' id='profile-icon' />
        <div class='self-info'>
          <h1 id='member-name'>JJJJ HHHHHH</h1>
          <div class='following-info'>
            <h3><span>100,999</span> 位追蹤者</h3>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class='profile-bar'>
    <a href='/personal-articles.html'>
      <div id='profile-img'>
        <img src='/img/profile-icon.png' alt='' id='profile-icon' />
        <div class='self-info'>
          <h1 id='member-name'>JJJJ HHHHHH</h1>
          <div class='following-info'>
            <h3><span>100,999</span> 位追蹤者</h3>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class='profile-bar'>
    <a href='/personal-articles.html'>
      <div id='profile-img'>
        <img src='/img/profile-icon.png' alt='' id='profile-icon' />
        <div class='self-info'>
          <h1 id='member-name'>JJJJ HHHHHH</h1>
          <div class='following-info'>
            <h3><span>100,999</span> 位追蹤者</h3>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class='profile-bar'>
    <a href='/personal-articles.html'>
      <div id='profile-img'>
        <img src='/img/profile-icon.png' alt='' id='profile-icon' />
        <div class='self-info'>
          <h1 id='member-name'>JJJJ HHHHHH</h1>
          <div class='following-info'>
            <h3><span>100,999</span> 位追蹤者</h3>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<!-- industry filter -->
<h1 id='industry-filter'>你可能想看的產業...</h1>
<div class='industry-area'>
  <a href='/industry.html'>
    <div class='indudtry-card shadow-sm'>
      <img src='/img/semi.png' alt='' id='industry-icon' />
      <div class='self-info'>
        <h1 id='member-name'>上市電子</h1>
        <div class='stock-peek'>
          <h3>台積電</h3>
          <h3>聯電</h3>
          <h3>力積電</h3>
        </div>
      </div>
    </div>
  </a>

  <a href='/industry.html'>
    <div class='indudtry-card shadow-sm'>
      <img src='/img/semi.png' alt='' id='industry-icon' />
      <div class='self-info'>
        <h1 id='member-name'>上市電子</h1>
        <div class='stock-peek'>
          <h3>台積電</h3>
          <h3>聯電</h3>
          <h3>力積電</h3>
        </div>
      </div>
    </div>
  </a>

  <a href='/industry.html'>
    <div class='indudtry-card shadow-sm'>
      <img src='/img/semi.png' alt='' id='industry-icon' />
      <div class='self-info'>
        <h1 id='member-name'>上市電子</h1>
        <div class='stock-peek'>
          <h3>台積電</h3>
          <h3>聯電</h3>
          <h3>力積電</h3>
        </div>
      </div>
    </div>
  </a>

  <a href='/industry.html'>
    <div class='indudtry-card shadow-sm'>
      <img src='/img/semi.png' alt='' id='industry-icon' />
      <div class='self-info'>
        <h1 id='member-name'>上市電子</h1>
        <div class='stock-peek'>
          <h3>台積電</h3>
          <h3>聯電</h3>
          <h3>力積電</h3>
        </div>
      </div>
    </div>
  </a>
</div>