<div class='container'>
  <div class='nav-area'>
    {{!-- <h1 id='hot-room-title'>熱門研究室</h1>
    <a
      href='/explore'
      id='explore-btn'
      class='rounded-pill shadow-lg'
    >Explore</a> --}}

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link text-secondary" aria-current="page" href="/hot-rooms">熱門研究室</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/explore">熱門觀點</a>
      </li>
    </ul>    
  </div>

  <select class="form-select mt-3 w-25 mx-auto ideas-filter" aria-label="Default select example">
    <option value="time" selected>時間</option>
    <option value="likes">按讚數</option>
    <option value="followers">熱門作者</option>
  </select>

  <div class='ideas-list'></div>

  <div class="mx-auto d-flex justify-content-center my-2">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        
      </ul>
    </nav>
  </div>
</div>

{{!-- JS --}}
<script src="/javascript/explore.js"></script>