<div class='container'>
  <div class='profile-bar'>
    <div id='profile-img'>
      <img src='/img/profile-icon.png' alt='' id='profile-icon' />
      <div class='self-info'>
        <h1 id='member-name'>Justin Holly</h1>
        <div class='following-info'>
          <p><span>100</span> 位追蹤者</p>
          <p>正在追蹤 <span>999</span> 人</p>
        </div>
      </div>
      <button type="button" class="btn btn-outline-secondary rounded-pill logout-btn js-logout-btn">登出</button>
    </div>
  </div>

  <div class='function-select'>
    <div class='article-tabs'>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link text-secondary" aria-current="page" href="/member">我的觀點</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active member-tab" href="/following">追蹤觀點</a>
        </li>
      </ul>
    </div>

    <button type="button" class="btn rounded-pill js-start-war-btn"  id='start-war-btn'>開啟我的研究室 <div id="start-war-btn-arrow"></div></button>
  </div>

  <div class='ideas-list'></div>
</div>