<div class='container'>
  <div class='profile-bar'>
    <div id='profile-img'>

      <div class="prfile-icon-area overflow-hidden rounded">
        <img src='' alt='' id='profile-icon' />
      </div>

      <div class='self-info'>
        <h1 id='member-name' class='mt-5'></h1>

        <div class='following-info'>
          <p><span></span> 位追蹤者</p>
          <p>正在追蹤 <span></span> 人</p>
        </div>
      </div>

      <div class='d-flex ms-auto mb-3'>
        <button
          type='button'
          class='btn btn-outline-secondary rounded-pill mx-2 mt-auto js-edit-btn'
          data-bs-toggle='modal'
          data-bs-target='#staticBackdrop'
        > 編輯資料</button>
      </div>
    </div>
  </div>

  <div class='function-select'>
    <div class='article-tabs'>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link text-secondary" aria-current="page" href="/member">我的觀點</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active member-tab" href="/following">追蹤觀點</a>
        </li>
      </ul>
    </div>

    <button type="button" class="btn rounded-pill js-start-war-btn"  id='start-war-btn'>開啟我的研究室 <div id="start-war-btn-arrow"></div></button>
  </div>

  <div class='ideas-list'></div>

  <div class="mx-auto d-flex justify-content-center my-2">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        
      </ul>
    </nav>
  </div>

  {{! modal }}
  <!-- Modal -->
  <div
    class='modal fade'
    id='staticBackdrop'
    data-bs-backdrop='static'
    data-bs-keyboard='false'
    tabindex='-1'
    aria-labelledby='staticBackdropLabel'
    aria-hidden='true'
  >
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title' id='staticBackdropLabel'>編輯個人資料</h5>
          <button
            type='button'
            class='btn-close'
            data-bs-dismiss='modal'
            aria-label='Close'
          ></button>
        </div>
        <div class='modal-body'>
          <form class="edit-user-data-form">
            <div class='mb-3'>
            <label for='edit-user-name' class='mx-1 col-form-label input-label'>綽號</label>
            <div class='col-sm-10'>
                <input
                  type='text'
                  class='form-control'
                  id='edit-user-name'
                  placeholder='請輸入新的綽號...'
                  name="user_name"
                />
              </div>
            </div>

            <input type="hidden" id="edit-user-id" name="user_id">

            <div class='mb-3'>
              <div class="d-flex">
                <label for='formFile' class='mt-2 mx-1 form-label input-label'>上傳大頭貼 </label><span class="mt-2 me-2 h6 text-secondary ms-auto">檔案請勿超過 2 MB</span>
              </div>
              <input class='form-control profile-picture' type='file' id='formFile' name="user-picture"/>
            </div>
          </div>
        </form>
          
        <div class='modal-footer'>
          <div class="d-flex justify-content-start me-auto">
            <p class="m-0">如果資訊為空，將維持原本資訊。</p>
          </div>
          <button
            type='button'
            class='btn btn-outline-secondary rounded-pill'
            data-bs-dismiss='modal'
          >取消</button>
          <button type='button' class='btn btn-outline-primary js-submit-edit rounded-pill'>確認送出</button>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- JS --}}
<script src="/javascript/page-load-auth.js"></script>
<script src="/javascript/member.js"></script>