<div class='container'>
  <div class='welcome-page'>
    <div class='slogan'>
      <h1 id='logo'>StoComm</h1>
      <h3>想擺脫韭菜的命運嗎?</h3>
    </div>

    <div class='direct-btn'>
      <input type='text' id='enter-name' placeholder='請輸入你的名字...' />
      <a href='/hot-rooms' id='enter-btn'>進入</a>
    </div>
  </div>
</div>