<div class='container'>
  <div class='nav-area'>
    <h1 id='hot-room-title'>熱門研究室</h1>
    <a
      href='/explore'
      id='explore-btn'
      class='rounded-pill shadow-lg'
    >Explore</a>
  </div>

  <div class='war-rooms'>
    <a href='/war-room?roomId=justinishandsome'>
      <div class='war-room shadow-lg'>
        <h3>Justin 永久開台中</h3>
        <p id="war_room_title">AppWorks School 的那些年</p>
      </div>
    </a>
  </div>
</div>

{{!-- JS --}}
<script src="/javascript/page-load-auth.js"></script>
<script src="/javascript/hot-rooms.js"></script>