<div class='container'>
  <div class='profile-bar'>
    <div id='profile-img'>
      <img src='/img/profile-icon.png' alt='' id='profile-icon' />
      <div class='self-info'>
        <h1 id='member-name'>JJJJ HHHHHH</h1>
        <div class='following-info'>
          <h3><span>100,999</span> 位追蹤者</h3>
          <h3>正在追蹤 <span>9,999,999</span> 人</h3>
        </div>
      </div>
    </div>
  </div>

  <div class='articles-list'>
    <a href='/article-details'>
      <div class='chat-room shadow-lg'>
        <h3>Justin 分析文 2021/10/18</h3>
        <h3>聯電(2303)</h3>
      </div>
    </a>

    <a href='/article-details'>
      <div class='chat-room shadow-lg'>
        <h3>Justin 分析文 2021/10/18</h3>
        <h3>聯電(2303)</h3>
      </div>
    </a>

    <a href='/article-details'>
      <div class='chat-room shadow-lg'>
        <h3>Justin 分析文 2021/10/18</h3>
        <h3>聯電(2303)</h3>
      </div>
    </a>
  </div>
</div>