<div class='post-area'>
  <div
    class='title-area d-flex align-items-center justify-content-between pt-4'
  >
    <h3 class='post-title mx-3'>發表你的觀點</h3>
    <img src='/img/close.png' alt='close' class='mx-3' id='close-icon' />
  </div>

  <hr />

  <div class='mb-5 mx-3 d-flex'>
    <div class="w-50">
      <label for='idea-title-input' class='idea-title'>
        <h5>標題</h5>
      </label>
      <input
        type='text'
        class='form-control'
        id='idea-title-input'
        placeholder='簡短敘述你的想法或概念'
      />
    </div>
    
    <div class="choose-future mt-auto ms-auto">
      <input type="radio" class="btn-check checked" name="options-outlined" id="bullish" >
      <label class="btn bull-btn mx-2" for="bullish">看多</label>

      <input type="radio" class="btn-check" name="options-outlined" id="bearish"  >
      <label class="btn bear-btn mx-2" for="bearish">看空</label>
    </div>

    <button type="button" class="btn btn-outline-primary mt-auto ms-auto me-3 h-25" id="js-publish-btn">發表我的觀點</button>
  </div>

  <hr />

  <div class="d-flex mt-5 justify-content-around">
    <div class="analysis-tab">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" toggle-type='fundamental-analysis'>基本分析</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " toggle-type='financial-analysis'>財務分析</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " toggle-type='chips-analysis'>籌碼分析</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " toggle-type='technical-analysis'>技術分析</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " toggle-type='your-idea'>獨特觀點</a>
        </li>
      </ul>
      
      <div class='my-5 mx-3 analysis cur-show' id='fundamental-analysis'>
        {{!-- <label for='fundamental-analysis' class='form-label'>基本分析</label> --}}
        <textarea class='form-control analysis-text' id='fundamental-analysis-input'></textarea>
      </div>

      <div class='my-5 mx-3 hidden analysis' id='financial-analysis'>
        {{!-- <label for='financial-analysis' class='form-label'>財務分析</label> --}}
        <textarea class='form-control analysis-text' id='financial-analysis-input'></textarea>
      </div>

      <div class='my-5 mx-3 hidden analysis' id='chips-analysis'>
        {{!-- <label for='chips-analysis' class='form-label'>籌碼分析</label> --}}
        <textarea class='form-control analysis-text' id='chips-analysis-input'></textarea>
      </div>

      <div class='my-5 mx-3 hidden analysis' id='technical-analysis'>
        {{!-- <label for='technical-analysis' class='form-label'>技術分析</label> --}}
        <textarea class='form-control analysis-text' id='technical-analysis-input'></textarea>
      </div>

      <div class='my-5 mx-3 hidden analysis' id='your-idea'>
        {{!-- <label for='your-idea' class='form-label'>你的獨特觀點</label> --}}
        <textarea class='form-control analysis-text' id='your-idea-input'></textarea>
      </div>
    </div>

    <div class="img-area">
      <img src="/img/revsample.png" class="rounded d-block" id="analysis-img" alt="analysis-img">
    </div>
    
  </div>

  {{! leaving notification }}
  <div class="modal fade" id="leaving-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title'>提醒</h5>
          <button
            type='button'
            class='btn-close'
            data-bs-dismiss='modal'
            aria-label='Close'
          ></button>
        </div>
        <div class='modal-body'>
          <p>確定不發表就離開嗎?</p>
        </div>
        <div class='modal-footer'>
          <button
            type='button'
            class='btn btn-secondary'
            data-bs-dismiss='modal'
          >沒事，我按錯了</button>
          <a href="/hot-rooms"><button type='button' class='btn btn-primary'> 確定離開 </button></a>
        </div>
      </div>
    </div>
  </div>
</div>

{{! JS }}
<script src='/javascript/post.js'></script>