<div class='container'>
  <div class='nav-area'>
    <h1>聯電(2303)</h1>
    <a href='/explore.html'>Explore</a>
  </div>

  <div class='chat-rooms'>
    <div class='chat-room'>
      <h3>Justin 開台中</h3>
      <h3>聯電(2303)</h3>
    </div>
    <div class='chat-room'>
      <h3>Justin 開台中</h3>
      <h3>聯電(2303)</h3>
    </div>
    <div class='chat-room'>
      <h3>Justin 開台中</h3>
      <h3>聯電(2303)</h3>
    </div>
  </div>
</div>