{{!-- Invalid Msg --}}
<div class="invalid-room hidden"><h3>此房間已經結束討論</h3></div>

<!-- stock-real-price -->
<div class='war-room-container'>
  <div id='stock-real-price-wrapper' class='shadow-lg hidden'>
    <div class='stock-real-price-navbar'><img
        src='./img/close.png'
        alt='shrink'
        class='shrink-icon'
        id='js-stock-shrink-btn'
      /></div>
    <!--  -->
    <div
      id='carouselExampleDark'
      class='carousel carousel-dark slide'
      data-bs-ride='carousel'
    >
      <div class='carousel-indicators'>
        <button
          type='button'
          data-bs-target='#carouselExampleDark'
          data-bs-slide-to='0'
          class='active'
          aria-current='true'
          aria-label='Slide 1'
        ></button>
        <button
          type='button'
          data-bs-target='#carouselExampleDark'
          data-bs-slide-to='1'
          aria-label='Slide 2'
        ></button>
        <button
          type='button'
          data-bs-target='#carouselExampleDark'
          data-bs-slide-to='2'
          aria-label='Slide 3'
        ></button>
        <button
          type='button'
          data-bs-target='#carouselExampleDark'
          data-bs-slide-to='3'
          aria-label='Slide 4'
        ></button>
        <button
          type='button'
          data-bs-target='#carouselExampleDark'
          data-bs-slide-to='4'
          aria-label='Slide 5'
        ></button>
        <button
          type='button'
          data-bs-target='#carouselExampleDark'
          data-bs-slide-to='5'
          aria-label='Slide 6'
        ></button>
      </div>
      <div class='carousel-inner'>

        <div class='carousel-item active'>
          <div class="spinner-border stock-real-price-loading loading" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <canvas id='stock-real-price' width='400' height='400'></canvas>
          <div></div>

          <div class="add-canvas-spacer mt-3 hidden"></div>
          <div class="d-flex justify-content-around mt-3 add-canvas-area">
            <p class="add-canvas-note my-auto">
              將圖表加入畫布後即可在中央繪圖區作畫
            </p>
            <button
            type='button'
            class='btn btn-outline-secondary add-canvas'
          >加入畫布</button>
          </div>
          
        </div>

        <div class='carousel-item'>
          <div class="spinner-border year-history-loading loading" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div id='year-history' class='analysis-card'></div>

          <div class="add-canvas-spacer mt-3 hidden"></div>
          <div class="d-flex justify-content-around mt-3 add-canvas-area">
            <p class="add-canvas-note my-auto">
              將圖表加入畫布後即可在中央繪圖區作畫
            </p>
            <button
            type='button'
            class='btn btn-outline-secondary add-canvas'
          >加入畫布</button>
          </div>
        </div>

        <div class='carousel-item'>
          <div class="spinner-border revenue-loading loading" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div id='revenue-chart' class='analysis-card'></div>

          <div class="add-canvas-spacer mt-3 hidden"></div>
          <div class="d-flex justify-content-around mt-3 add-canvas-area">
            <p class="add-canvas-note my-auto">
              將圖表加入畫布後即可在中央繪圖區作畫
            </p>
            <button
            type='button'
            class='btn btn-outline-secondary add-canvas'
          >加入畫布</button>
          </div>
        </div>

        <div class='carousel-item'>
          <div class="spinner-border gross-loading loading" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>

          <div id="gross-chart" class="analysis-card"></div>

          <div class="add-canvas-spacer mt-3 hidden"></div>
          <div class="d-flex justify-content-around mt-3 add-canvas-area">
            <p class="add-canvas-note my-auto">
              將圖表加入畫布後即可在中央繪圖區作畫
            </p>
            <button
            type='button'
            class='btn btn-outline-secondary add-canvas'
          >加入畫布</button>
          </div>
        </div> 

        <div class='carousel-item'>
          <div class="spinner-border chip-loading loading" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div id='chip-chart' class='analysis-card'></div>

          <div class="add-canvas-spacer mt-3 hidden"></div>
          <div class="d-flex justify-content-around mt-3 add-canvas-area">
            <p class="add-canvas-note my-auto">
              將圖表加入畫布後即可在中央繪圖區作畫
            </p>
            <button
            type='button'
            class='btn btn-outline-secondary add-canvas'
          >加入畫布</button>
          </div>
        </div>

        <div class='carousel-item'>
          <div class="spinner-border news-loading loading" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class='card news-card overflow-auto analysis-card'>
            <ul class='list-group list-group-flush'>
              <li class='list-group-item'><h4 class="m-0">個股新聞</h4></li>
            </ul>
          </div>

          <div class="add-canvas-spacer mt-3"></div>
        </div>
      </div>
      <button
        class='carousel-control-prev'
        type='button'
        data-bs-target='#carouselExampleDark'
        data-bs-slide='prev'
      >
        <span class='carousel-control-prev-icon' aria-hidden='true'></span>
        <span class='visually-hidden'>Previous</span>
      </button>
      <button
        class='carousel-control-next'
        type='button'
        data-bs-target='#carouselExampleDark'
        data-bs-slide='next'
      >
        <span class='carousel-control-next-icon' aria-hidden='true'></span>
        <span class='visually-hidden'>Next</span>
      </button>
    </div>
  </div>

  <!-- paiting canvas -->
  <div id='canvas-wrapper'>
    <div id='canvas'></div>
    <div class='tool-area'>

      <div class='tool-area d-flex'>
        <div class='functional-area d-flex'>

          <div class='position-relative'>
            <img
              src='/img/draw-tool/chat.png'
              alt=''
              class='draw-tool-icon'
              data-bs-toggle='tooltip'
              data-bs-placement='top'
              title='開啟聊天室'
              id='js-chat-enlarge-btn'
            />

            <span
              class='position-absolute translate-middle p-2 bg-danger rounded-circle chat-notification hidden'
            >
              <span class='visually-hidden'>New alerts</span>
            </span>
          </div>

          <img
            src='/img/draw-tool/stock.png'
            alt=''
            class='draw-tool-icon'
            id='js-stock-enlarge-btn'
            data-bs-toggle='tooltip'
            data-bs-placement='top'
            title='開啟個股資訊'
          />

        </div>
        <div class='draw-tool-area hidden'>
          <img
            src='/img/draw-tool/select.png'
            alt=''
            class='draw-tool-icon tool-active'
            value='select'
            data-bs-toggle='tooltip'
            data-bs-placement='top'
            title='選取'
          />
          <img
            src='/img/draw-tool/line.png'
            alt=''
            class='draw-tool-icon'
            value='line'
            data-bs-toggle='tooltip'
            data-bs-placement='top'
            title='直線工具'
          />
          <img
            src='/img/draw-tool/brush.png'
            alt=''
            class='draw-tool-icon'
            value='brush'
            data-bs-toggle='tooltip'
            data-bs-placement='top'
            title='筆刷工具'
          />
          {{! <img src="/img/draw-tool/eraser.png" alt="" class="draw-tool-icon" value="eraser"> }}
          <img
            src='/img/draw-tool/delete.png'
            alt=''
            class='draw-tool-icon'
            value='delete'
            data-bs-toggle='tooltip'
            data-bs-placement='top'
            title='刪除全部'
          />
          <img
            src='/img/draw-tool/undo.png'
            alt=''
            class='draw-tool-icon'
            value='undo'
            id='undo-btn'
            data-bs-toggle='tooltip'
            data-bs-placement='top'
            title='上一步'
          />
          <img
            src='/img/draw-tool/redo.png'
            alt=''
            class='draw-tool-icon'
            value='redo'
            id='redo-btn'
            data-bs-toggle='tooltip'
            data-bs-placement='top'
            title='取消上一步'
          />
        </div>
      </div>

      <div class="permission-area">
        <img
        src='/img/draw-tool/deny-draw.png'
        alt=''
        class='ms-3 streamer hidden allow-draw'
        id='js-allow-draw'
        data-bs-toggle='tooltip'
        data-bs-placement='top'
        title='打開所有人畫圖權限'
      />
      <img
        src='/img/draw-tool/allow-draw.png'
        alt=''
        class='ms-3 streamer hidden allow-draw'
        id='js-deny-draw'
        data-bs-toggle='tooltip'
        data-bs-placement='top'
        title='關閉所有人畫圖權限'
      />
      <img
        src='/img/draw-tool/group.png'
        alt=''
        class='group draw-tool-icon'
        id='group-btn'
        data-bs-toggle='tooltip'
        data-bs-placement='top'
        title='查看群組'
      />
      <button
        type='button'
        class='btn btn-light ms-2 streamer hidden text-secondary'
        id='js-post-war-room'
      >發文</button>
      </div>
      
      <img
          src='/img/draw-tool/leave.png'
          alt=''
          class='draw-tool-icon'
          value='leave'
          id='leave-icon'
        />
    </div>
  </div>

  <!-- normal size chat-room  -->
  <div class='chat-room'>
    <div class='chat-room-navbar'><img
        src='./img/close.png'
        alt='shrink'
        class='shrink-icon'
        id='js-chat-shrink-btn'
      /></div>
    <div class='chat-history overflow-auto'>

      <ul id='messages' class='list-group messages-group'></ul>
    </div>

    <form id='form' action='' class='msg-input-area'>
      <div class='input-group js-msg-input-area msg-input-area'>
        <input
          type='text'
          class='form-control rounded-pill msg-input-block'
          placeholder='請輸入訊息...'
          aria-label="Recipient's username"
          aria-describedby='button-addon2'
          id='js-input'
          autocomplete="off"
        />
        <button
          class='btn btn-outline-secondary rounded-pill'
          type='submit'
          id='button-addon2'
        >
          送出
        </button>
      </div>
    </form>
  </div>

  <!-- Voice Control Modal -->
  <div
    class='modal fade'
    id='voice-control-modal'
    tabindex='-1'
    aria-labelledby='exampleModalLabel'
    aria-hidden='true'
  >
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title' id='exampleModalLabel'>語音成員</h5>
          <button
            type='button'
            class='btn-close'
            data-bs-dismiss='modal'
            aria-label='Close'
          ></button>
        </div>
        <div class='modal-body voice-modal-body'>
          <div class="d-flex justify-content-between">
            <h5 class="mb-3">主持人</h5> 
            <button type="button" class="btn btn-outline-secondary hidden group-mute-btn">全體靜音</button>
            <button type="button" class="btn btn-outline-secondary hidden group-mic-btn">全體解除靜音</button>
          </div>
          
          <div class="host-area">
          </div>

          <hr>

          <h5 class="mb-3">訪客</h5>
          <div id='video-grid' class='overflow-scroll'>
          </div>
        </div>
        
      </div>
    </div>
  </div>

</div>

<!-- JS -->
<script
  src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js'
></script>
<script
  src='https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js'
></script>
<script
  src='https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js'
></script>
<script
  src='https://cdn.anychart.com/releases/8.10.0/js/anychart-base.min.js'
></script>
<script
  src='https://cdn.anychart.com/releases/8.10.0/js/anychart-stock.min.js'
  type='text/javascript'
></script>
<script src='/socket.io/socket.io.js'></script>
<script src='https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js'></script>
<script src='https://unpkg.com/konva@8.2.3/konva.min.js'></script>
<script src='https://html2canvas.hertzen.com/dist/html2canvas.js'></script>

<script src='/javascript/war-room-init.js'></script>
<script type='module' src='/javascript/stock-chart.js'></script>
<script src='/javascript/konva.js'></script>
<script src='/javascript/chat.js'></script>
<script src='/javascript/voice.js'></script>